<div class="<%= @style %>" <%= tag.attributes(@html_options)%>>
  <a href="<%= @link %>" class="h-1/2">
    <img 
      src="<%= @image %>" 
      alt="<%= @title %>" 
      class="w-full h-full object-cover"
    />
  </a>
  <div class="p-4 h-1/2 flex flex-col justify-between">
    <h5 class="text-lg font-bold text-gray-900 dark:text-white truncate">
      <%= @title %>
    </h5>
    <p class="text-md text-gray-700 dark:text-gray-400 line-clamp-3">
        <%= @description %>
    </p>
    <% if actions? %>
      <%= actions %>
    <% end %>   
  </div>
</div>
