<div class="px-2 flex items-center" data-controller="toggleable">
  <button  data-action="click->toggleable#toggle click@window->toggleable#hide" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100  dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-200 dark:active:bg-gray-900  dark:bg-gray-800 dark:border-gray-700">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
  </button>


  <nav class="">
    <div class="bg-gray-50 py-8 text-gray-600 dark:text-gray-200 w-2/3 rounded-r-3xl border border-gray-400 text-lg hidden lg:hidden absolute top-0 -left-4 z-10 dark:bg-gray-800" data-toggleable-target="toggleable">
      <h1 class="mx-6 text-xl"> Word Wise </h1>     
      <ul class="font-xl mt-0 p-6 ">
            <li>
              <%= link_to root_path,
                class:"text-bold  block p-3 hover:bg-gray-300 dark:hover:bg-gray-700 hover:font-bold" do %>
                  <%= t("site.nav_bar.home_button")  %>
              <% end %>
          </li>
          <li>
              <%= link_to site_articles_path,
                class:" block p-3 hover:bg-gray-300 dark:hover:bg-gray-700 hover:font-bold" do %>
                  <%= t("site.nav_bar.articles") %>
              <% end %>
          </li>
          <li>
              <%= link_to site_books_path,
                class:" block p-3 hover:bg-gray-300 dark:hover:bg-gray-700 hover:font-bold" do %>
                  <% t("site.nav_bar.books")%>
                <% end %>
          </li>
          <li>
              <%= link_to site_sermons_path,
                class:" block p-3 hover:bg-gray-300 dark:hover:bg-gray-700 hover:font-bold" do %>
                <% t("site.nav_bar.sermons")%>
              <% end %>
          </li>
          <li>
              <%= link_to site_authors_path,
                class:" block p-3 hover:bg-gray-300 dark:hover:bg-gray-700 hover:font-bold" do %>
                <% t("site.nav_bar.authors")%>
              <% end %>
          </li>
      </ul> 
    </div>
  </nav>
</div>