<header class="bg-white shadow">
  <div class="mx-auto px-2 sm:px-4 lg:divide-y lg:divide-gray-200 lg:px-8  dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100"> 
    <%# This line above should go on apllication of the component only if needed  %>
    <div class="relative h-16 flex justify-between">
      <%= logotype %>
      <%= search_bar %>
      <%= social_networks %>
      <%= user_actions %> 
      <%= toggle_menu_button %>    
    </div>
  </div>
</header>
    