

<%= form_with(model: [:admins_dashboard, @article ], class:"p-4 border rounded-sm shadow-md") do |form| %>
  <div class="flex justify-between"> 
    <div class="w-full">
      <%= form.label :title, class:"mb-2 block font-medium text-gray-700" %>
      <%= form.text_field :title, class: "w-full block rounded-sm border-gray-300 shadow-sm focus:ring-indigo-500 text-sm form-control form-control #{'is-invalid' if @article.errors[:title].any?}" %>
      <% if @article.errors[:title].any? %>
        <div class="text-red-600"><%= @article.errors[:title].first %></div>
      <% end %>
    </div>

    <div class="p-6 mb-4">
      <%= form.label :article_cover %>
      <%= form.file_field :article_cover, class: "w-8/9 form-control #{'is-invalid' if @article.errors[:article_cover].any?}" %>
      <% if @article.errors[:article_cover].any? %>
        <div class="text-red-600"><%= @article.errors[:article_cover].first %></div>
      <% end %>
    </div>
  </div>

  <div class="py-2">
    <%= form.label :description, class:"mb-2 block" %>
    <%= form.text_area :description, class: "block w-full rounded-sm border-gray-300 shadow-sm focus:ring-indigo-500 text-sm form-control #{'is-invalid' if @article.errors[:description].any?}" %>
    <% if @article.errors[:description].any? %>
      <div class="text-red-600"><%= @article.errors[:description].first %></div>
    <% end %>
  </div>

  <div class="py-2">
    <%= form.label :body, class:"mb-2 block" %>
    <%= form.text_area :body, class: "block w-full h-80 rounded-sm border-gray-300 shadow-sm focus:ring-indigo-500 text-sm form-control #{'is-invalid' if @article.errors[:body].any?}" %>
    <% if @article.errors[:body].any? %>
      <div class="text-red-600"><%= @article.errors[:body].first %></div>
    <% end %>
  </div>

  <div class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    <%= form.submit %>
    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg>
  </div>

<% end %>
