<div class="">  
  <% if @articles.present? %>
    <%= render TableComponent.new do |component| %>
      <%= component.with_header(titles: [
        t('activerecord.attributes.article.id'),
        t('activerecord.attributes.article.title'),
        t('activerecord.attributes.article.description'),
        t('activerecord.attributes.article.image_url')
        
      ]) %>

      <%= @articles.each do |article|%>
        <%= component.with_row do |row| %>
          <%= row.with_cell { article.id.to_s } %>
          <%= row.with_cell { article.title } %>
          <%= row.with_cell { article.description } %>
          <%= row.with_cell { article.image_url } %>
          <%= row.with_cell {  link_to 'see', admins_dashboard_article_path(article.id)
          } %>
          <%= row.with_cell {  link_to 'new', new_admins_dashboard_article_path
          } %>
         <%= row.with_cell do %>
          <%= link_to 'delete', admins_dashboard_article_path(article.id), data: { turbo_method: :delete } %>
         <% end %> 


        <% end %>
      <% end %>
    <% end %>

  <% else %>
    <%= render EmptyListComponent.new() %>
  <% end %>
</div>