<h1>New Article</h1>

<%= form_with(model: [ :admins_backoffice, @article ], local: true) do |form|%>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div class="text-red-500"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :author %><br>
    <%= form.text_field :author %><br>
    <% @article.errors.full_messages_for(:author).each do |message| %>
      <div class="text-red-500"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %><br>
    <% @article.errors.full_messages_for(:content).each do |message| %>
      <div class="text-red-500"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>