<div class="w-1/2 m-auto">
  <div class="flex text-gray-950 dark:text-gray-50 ">
    <% if @sermon.video_url.present? %>
      <div class="my-6" >
        <iframe 
          width="560" 
          height="315" 
          src="<%= @sermon.video_url  %>" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
        </iframe>
      </div>
    <% else %>
      <p>No video available</p>
    <% end %>
    <div class="m-4">
      <h1 class="text-2xl my-4">Title: <%= @sermon.title %></h1>
      <h2 class="text-xl my-4">Description: <%= @sermon.description %></h2>
      <h2 class="text-xl my-4">Bible Text: <%= @sermon.bible_text %></h2>

      <p>Duration: <%= @sermon.duration %></p>
      <p>Date: <%= @sermon.date %></p>
      <p>Category: <%= @sermon.category %></p>
      <p>Language: <%= @sermon.language %></p>
    </div>
  </div>
</div>
