<!DOCTYPE html>
<html>
  <head>
    <title>WordWise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="dark:bg-gray-800 dark:border-gray-700 dark:text-gray-50" data-controller="toast" data-toast-notice="<%= j notice %>" data-toast-alert="<%= j alert %>">
  <div data-toast-target="container" class="fixed top-4 right-4 space-y-4 z-50"></div>

  <h1 class="dark:text-white m-8 text-3xl text-center">Word Wise</h1>
  <main class="container mx-auto mt-28 px-5 flex">
    <%= yield %>
  </main>
</body>

</html>
